*.pyc
*.pyo
*.wsp
*~
*.pydevproject
*.project
*.sqlite
TODO
docs/_build
docs/html
build-tools/*.rpm
*/settings/local.py
.installed.cfg
bin
build
develop-eggs
dist
downloads
eggs
*\.egg/
*egg-info
parts
*.rej
.DS_Store
htmlcov/*
.coverage
.*.swp
