{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
    <style type="text/css">
        .editable:hover > .editable-target {
            border: 2px solid #EDC648;
            border-radius: 5px;
        }
        .editable-target {
            border: 1px;
        }
        .edit-control-buttons {
            visibility: hidden;
            text-decoration: none;
        }
        a.editable:hover {
            text-decoration: none;
        }
        a.editable:hover .editable-target {
            text-decoration: underline;
        }
        .editable:hover  .edit-control-buttons.inline {
            display: inline;
            visibility: visible;
            padding-left: 3px;
        }
        .editable:hover  .edit-control-buttons.block {
            visibility: visible;
            display: block;
        }
        .edit-control-buttons .icon-ok,.icon-remove {
            visibility: hidden;
        }
    </style>
{% endblock %}

{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="#">Diseases</a><span class="divider">/</span>
    </li>
    <li class="active">
        <h2>{{ disease.name }}</h2>
    </li>
</ul>
<section id="summary-section">
    <div class="page-header">
        <h2>{% trans "Summary" %}</h2>
    </div>
    <div id="summary-container" class="row">
        <div class="span1 well" style="text-align:center;">
            <p>Severity</p>
            <h1>{{ disease.severity }}</h1>
        </div>
        <div class="span7">
            <div id="summary" class="editable">    
                <span class="edit-control-buttons block">
                    <i class="icon-edit"></i>
                    <i class="icon-ok"></i>
                    <i class="icon-remove"></i>    
                </span>
                <div class="editable-target">
                    {{ disease.summary }}
                </div>
            </div>
            <div id="symptoms" style="margin-top:10px;">
                {% for symptom in disease.tagsobj.all %}
                <span class="label label-info"><i class="icon-white icon-tag"></i> {{ symptom.name }}</span> 
                {% empty %}
                    {% trans "No symptom listed yet." %}
                {% endfor %}                
            </div>
        </div>
    </div>
</section>
<section id="description">
    <div class="page-header">
        <h2>{% trans "Description" %}</h2>
    </div>
    <div id="summary" class="row">
        <div class="span9 editable">
            <span class="edit-control-buttons block">
                <i class="icon-edit"></i>
                <i class="icon-ok"></i>
                <i class="icon-remove"></i>    
            </span>
            <div class="editable-target">
                {{ disease.description }}
            </div>
        </div>
    </div>
</section>
<section id="remedies">
    <div class="page-header">
        <h2>{% trans "Remedies" %}</h2>
    </div>
    <div id="summary" class="row">
        <div class="span9">
            <div class="accordion" id="accordion-remedies">
                {% for remedy in disease.remedies.all %}
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle editable" data-toggle="collapse" data-parent="#accordion-remedies" href="#remedy{{ remedy.id }}">  
                        <span class="editable-target">{{ remedy.name }}</span>
                        <span class="edit-control-buttons inline">
                            <i class="icon-edit"></i>
                            <i class="icon-ok"></i>
                            <i class="icon-remove"></i>
                        </span>
                    </a>
                  </div>
                  <div id="remedy{{ remedy.id }}" fetch-url="{% url ajax_get_remedy_details remedy.id %}" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner editable" not-loaded="true">
                        <div style="text-align:center;">
                            <img src="{% static "img/loading.gif" %}"/>
                        </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                    {% trans "No remedy listed yet." %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section id="medicines">
    <div class="page-header">
        <h2>{% trans "Medicines" %}</h2>
    </div>
    <div id="summary" class="row">
        <div class="span9">
            <div class="accordion" id="accordion-medicines">
                {% for medicine in disease.medicines.all %}
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle editable" data-toggle="collapse" data-parent="#accordion-medicines" href="#medicine{{ medicine.id }}">  
                        <span class="editable-target">{{ medicine.name }}</span>
                        <span class="edit-control-buttons inline">
                            <i class="icon-edit"></i>
                            <i class="icon-ok"></i>
                            <i class="icon-remove"></i>
                        </span>
                    </a>
                  </div>
                  <div id="medicine{{ medicine.id }}" fetch-url="{% url ajax_get_medicine_details medicine.id %}" class="accordion-body collapse" style="height: 0px; ">
                    <div class="accordion-inner editable" not-loaded="true">
                        <div style="text-align:center;">
                            <img src="{% static "img/loading.gif" %}"/>
                        </div>
                    </div>
                  </div>
                </div>
                {% empty %}
                    {% trans "No medicine listed yet." %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
    <script>
        $(function(){
            $('.accordion').on('show', function(e){
                var $target = $(e.target);
                var url = $target.attr('fetch-url');
                var $accordion_inner = $('.accordion-inner', $target);
                if ($accordion_inner.attr('not-loaded')){
                    $.ajax({
                        url: url,
                        success: function(data){
                            $accordion_inner.html(data);
                            $accordion_inner.removeAttr('not-loaded');;
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}